@import "../../../../globals.scss";
@import "../../../../utils/constants.scss";
@import "../../../../utils/keyframes.scss";

.invitation-main {
  background-color: $blue-purple;
  background-image: url("../../../../../public/geometricDesignMobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .invitation-main-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .gemetric-desktop,
    .invitation-envelope {
      display: none;
    }

    .invitation-main-wrapper {
      text-align: center;
      margin-top: 18vh;
      width: 100%;

      .invitation-main-header {
        font-size: 2.3rem;
        color: white;
        text-align: center;
      }

      .main-text-container {
        font-size: 1rem;
        text-align: center;
        color: $white;
        width: 100%;
        height: 57vh;
        width: 100%;
        font-size: "Alegreya";
        font-size: 1rem;

        .invitation-main-text {
          max-width: 100%;
          margin: 0;
          overflow-wrap: break-word;
          word-wrap: break-word;
        }
      }
      .next-return-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .invitation-btn {
          margin-top: 5px;
          background-color: transparent;
          border: none;
          padding: 0;
          transition: ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }

          .invitation-navigation-arrow-left {
            background-color: transparent;
            border: none;
            transition: ease-in-out 0.3s;
            transform: rotate(180deg);
            cursor: pointer;

            &:hover {
              transform: scale(1.2) rotate(180deg);
            }
          }
        }
      }
    }
  }
}

//Long screens
@media screen and (min-height: 667px) and (min-height: 830px) {
  .invitation-main {
    .invitation-main-container {
      .invitation-main-wrapper {
        margin-top: 22vh;

        .invitation-main-header {
          font-size: 2.3rem;
        }

        .main-text-container {
          height: 54vh;

          .invitation-main-text {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

//Smaller phones
@media screen and (max-width: 360px) {
  .invitation-main {
    .invitation-main-container {
      .invitation-main-wrapper {
        margin-top: 22vh;

        .invitation-main-header {
          font-size: 2.3rem;
        }

        .main-text-container {
          height: 54vh;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width: 800px) {
  .invitation-main {
    background-image: none;
    background-color: transparent;
    min-height: unset;
    padding-top: 15%;

    .invitation-main-container {
      width: 50%;
      padding: 0;
      margin-top: 0;

      .gemetric-desktop {
        border-radius: 15px;
        display: block;
        background-color: $blue-purple;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 10;
      }

      .invitation-envelope {
        display: flex;
        position: absolute;
        margin-right: 20%;
        margin-bottom: 20%;
      }

      .invitation-main-wrapper {
        position: absolute;
        margin-top: 20px;
        width: 500px;
        height: 300px;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 11;

        .invitation-main-header {
          margin: 10px;
          height: 35px;
        }

        .main-text-container {
          height: 230px;
          padding: 10px;
          width: unset;

          .invitation-main-text {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
