// Colors
$black: #000000;
$blue: #4275a2;
$blue-purple: #27264b;
$cream: #fdf9ef;
$dark-green: #283618;
$dark-purple: #221637;
$green: #618833;
$green-transparent: #8cde40c1;
$grey: #7a7a7a;
$light-blue: #85c5fd;
$light-grey: #e5e5e5;
$mid-green: #2a8552;
$mid-orange: #fbca7b;
$off-white: #fdf7f2;
$olive-green: #85915e;
$orange-transparent: #fbca7b95;
$purple: #37225a;
$rusty-orange: #bc6c25;
$tan: #dda15e;
$very-light-orange: #fdf4e4;
$white: #fffefb;

// Alerts
$alert-box-background-grey: rgba(0, 0, 0, 0.602);

// Menu
$menu-desktop-border: #c78a46;
$menu-desktop-background: #fff0e4;

//Fonts
@font-face {
  font-family: "Cedarville";
  src: url("../../public/fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {
  font-family: "Alegreya";
  src: url("../../public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Dancing script";
  src: url("../../public/fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "OverlockSC";
  src: url("../../public/fonts/OverlockSC-Regular.ttf");
}
