@keyframes swingIn {
  0% {
    transform: translateX(-50%);
    transform-origin: left;
    transform-skew: 20deg;
  }
  100% {
    transform: translateX(0);
    transform-origin: center;
    transform-skew: 0;
  }
}

@keyframes glideIn {
  0% {
    transform: translateX(-50%);
    transform-origin: left;
    transform-skew: 20deg;
  }
  100% {
    transform: translateX(0);
    transform-origin: center;
    transform-skew: 0;
  }
}

@keyframes glideOut {
  0% {
    transform: translateX(200px);
    transform-origin: right;
  }
  100% {
    transform: translateX(0);
    transform-origin: left;
  }
}

@keyframes glideInDesktop {
  0% {
    transform: translateX(-70px);
    transform-origin: center;
    transform-skew: 20deg;
  }
  100% {
    transform: translateX(0);
    transform-origin: center;
    transform-skew: 0;
  }
}

@keyframes glideOutDesktop {
  0% {
    transform: translateX(0);
    transform-origin: center;
  }
  100% {
    transform: translateX(0);
    transform-origin: left;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideWiggleFadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateX(-100%) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: translateX(0) rotate(-5deg);
  }
  50% {
    opacity: 1;
    transform: translateX(0) rotate(5deg);
  }
  75% {
    opacity: 0;
    transform: translateX(100%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%) rotate(0deg);
  }
}

@keyframes rock {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
