@import "../../../../../globals.scss";
@import "../../../../../utils/constants.scss";

.event-password-wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px;
  border-radius: 15px;

  .event-password-form {
    display: flex;
    flex-direction: column;

    .event-password-label {
      margin-top: 10px;
    }

    .event-password-input {
      height: 45px;
      width: 100%;
      border: 1px solid transparent;
      border-bottom-color: $grey;
      background-color: $light-grey;

      &::placeholder {
        text-indent: 5px;
      }
    }

    .password-btn {
      width: 150px;
      height: 45px;
      align-self: center;
      margin: 10px 0;
      border-radius: 15px;
      background-color: transparent;
      border-color: $olive-green;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        background: $olive-green;
        color: $white;
      }
    }

    .password-btn-container {
      display: flex;
      justify-content: center;
      gap: 5px;

      .cancel-password-btn {
        background: $mid-orange;
        width: 49%;
        border: none;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background: $orange-transparent;
          color: $black;
        }
      }

      .save-password-btn {
        background: $green;
        color: $white;
        width: 49%;
        border: none;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background: $green-transparent;
          color: $black;
        }
      }
    }
  }
}
