@import "../../../../../globals.scss";
@import "../../../../../utils/constants.scss";

.event-password-wrapper {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px;
  border-radius: 15px;

  .event-password-text {
    font-family: "Alegreya";
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .event-password-form {
    display: flex;
    flex-direction: column;

    .event-password-label {
      font-family: "Alegreya";
      font-size: 1.1rem;
    }

    .event-password-container {
      display: flex;
      flex-direction: row;
      border: 1px solid $grey;
      background-color: transparent;

      .event-password-input {
        height: 45px;
        width: 100%;
        background: transparent;
        border: none;
        padding-left: 10px;

        &::placeholder {
          color: $grey;
        }
      }

      .show-hide-password-svg {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    .password-btn {
      width: 150px;
      height: 45px;
      align-self: center;
      margin: 10px 0;
      border-radius: 15px;
      background-color: transparent;
      font-family: "Alegreya";
      font-size: 1rem;
      border-color: $blue;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        background: $blue;
        color: $white;
      }
    }

    .password-btn-container {
      display: flex;
      justify-content: center;
      gap: 5px;

      .cancel-password-btn {
        background: $mid-orange;
        width: 49%;
        border: none;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background: $orange-transparent;
          color: $black;
        }
      }

      .save-password-btn {
        background: $green;
        color: $white;
        width: 49%;
        border: none;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background: $green-transparent;
          color: $black;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .event-password-wrapper {
    width: 500px;
    height: 250px;
  }
}
