@import "../../../../../globals.scss";
@import "../../../../../utils/constants.scss";
@import "../../../../../utils/keyframes.scss";

.guestlist-container {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px;
  border-radius: 15px;
  font-family: "Alegreya";
  font-size: 1.1rem;

  .guestlist-text {
    margin: 10px;
  }

  .guestlist-explanations {
    margin-bottom: 20px;

    .explanation {
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 10px;

      .explanation-negative {
        margin: 0;
      }
    }
  }

  .sorting-btns {
    .sorting-btn {
      height: 45px;
      border: 1px solid transparent;
      border-bottom-color: $grey;
      font-family: "Alegreya";
      font-size: 1.1rem;
      font-weight: bold;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        background-color: $mid-orange;
      }
    }

    .sort-name-btn {
      width: 44%;
      background-color: transparent;
    }

    .sort-rsvp-btn,
    .sort-attending-btn {
      border-left-color: $grey;
      background-color: transparent;
      width: 28%;
    }
  }

  .szh-accordion {
    width: 100%;

    .szh-accordion__ite,
    .szh-accordion__item--status-entered,
    .szh-accordion__item--expanded {
      .szh-accordion__item-heading {
        background-color: $mid-orange;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      .pagination-btn {
        background-color: transparent;
        height: 50px;
        width: 50px;
        border: none;
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-family: "Alegreya";
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background-color: $mid-orange;
          color: $white;
        }
      }

      .total-pages {
        font-family: "Alegreya";
        font-size: 1.3rem;
        margin: 0;
      }
    }

    .szh-accordion__item {
      .szh-accordion__item-heading {
        .szh-accordion__item-btn {
          display: flex;
          width: 100%;
          height: 45px;
          text-align: left;
          border: none;
          border-bottom: 1px solid $grey;
          margin: 2px 0;
          padding: 0;
          background-color: transparent;
          transition: ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            background-color: $mid-orange;
          }

          .accordion-info {
            display: flex;
            justify-content: left;
            align-items: left;
            width: 100%;

            .guest-name-wrapper {
              display: flex;
              width: 44%;

              .guest-name {
                font-family: "Alegreya";
                font-size: 1.1rem;
                font-weight: bold;
                margin-top: 12px;
              }

              .gustlist-symbols {
                margin-top: 10px;
              }
            }

            .guest-rsvpd {
              width: 28%;
              text-align: center;

              .gustlist-symbols {
                margin-top: 5px;
              }
            }
          }
        }
      }

      .szh-accordion__item-content {
        padding: 0 15px;
        animation: fadeIn 0.5s ease-in-out;

        .szh-accordion__item-panel {
          .guestlist-guest-form {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 10px;
            padding: 15px 20px 0;
            background-color: $very-light-orange;

            hr {
              width: 100%;
            }

            .guestlist-label {
              font-weight: bold;
              margin-right: 5px;

              .guestlist-input {
                background-color: transparent;
                border: 1px solid transparent;
                width: 75%;
                color: $rusty-orange;
                cursor: pointer;

                &:focus {
                  outline: none;
                  border-bottom: 1px solid $tan;
                }
              }

              .guestlist-selected {
                height: 30px;
                border-color: transparent;
                // border-bottom-color: $grey;
                margin: 5px;
              }
            }

            .edit-guest-btn {
              width: 75px;
              height: 40px;
              align-self: center;
              margin: 10px 0;
              border-radius: 15px;
              background-color: $white;
              border-color: $blue;
              color: $blue;
              font-family: "Alegreya";
              font-size: 1rem;
              transition: ease-in-out 0.3s;
              cursor: pointer;

              &:hover {
                background: $blue;
                color: $white;
              }
            }

            .guestlist-save-cancel {
              display: flex;
              justify-content: center;
              gap: 10px;

              .guestlist-btn {
                background-color: $white;
                border-radius: 15px;
                height: 40px;
                width: 90px;
                cursor: pointer;
              }

              .guestlist-save-btn {
                border-color: $olive-green;

                &:hover {
                  background-color: $olive-green;
                  color: $white;
                }
              }

              .guestlist-delete-btn {
                border-color: $tan;

                &:hover {
                  background-color: $tan;
                  color: $white;
                }
              }
            }

            .guestlist-cancel-btn {
              background-color: transparent;
              border: none;
              text-decoration: underline;
              color: $dark-green;
              margin: 10px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .guestlist-container {
    width: 500px;
  }
}
