@import "../../../../../globals.scss";
@import "../../../../../utils/constants.scss";

.invite-guests {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px;
  border-radius: 15px;

  .invite-guest-form {
    display: flex;
    flex-direction: column;

    .gold-flags-banner {
      display: none;
    }

    .invite-guest-text {
      font-family: "Alegreya";
      font-size: 1.1rem;
      margin: 10px 0;
    }

    .invite-guest-icons {
      display: flex;
      justify-content: space-around;
      margin: 10px 0;
    }

    .invite-guest-label {
      margin-top: 10px;
      font-family: "Alegreya";
      font-size: 1.1rem;
      font-weight: bold;
    }

    .invite-guest-input {
      height: 45px;
      border: 1px solid transparent;
      border-bottom-color: $grey;
      padding-left: 10px;
      background-color: transparent;
      font-family: "Alegreya";
      font-size: 1.1rem;
    }

    .invite-guest-btn {
      width: 150px;
      height: 45px;
      align-self: center;
      margin: 10px 0;
      border-radius: 15px;
      background-color: transparent;
      border-color: $olive-green;
      transition: ease-in-out 0.3s;
      font-family: "Alegreya";
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: $olive-green;
        color: $white;
      }
    }

    .error-message {
      text-align: center;
      background-color: $white;
      border-radius: 15px;
      border: 1px solid red;
      color: black;
      padding: 10px;
      margin-top: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .invite-guests {
    width: 500px;

    .invite-guest-form {
      .gold-flags-banner {
        display: block;
        overflow: hidden;
        opacity: 0.5;
        margin-left: -50px;
      }

      .invite-guest-title {
        margin-top: -50px;
      }

      .invite-guest-btn {
        margin-top: 20px;
      }
    }
  }
}
