@import "./utils/constants.scss";

:root {
  background-color: $off-white;
  background-image: url("../public/gold-confetti.png");
}

body {
  margin: 10px 0 0;
}

main {
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-family: "OverlockSC";
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

h2 {
  color: $dark-green;
  font-family: "Dancing script";
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
  font-family: "OverlockSC";
  color: $green;
  margin: 10px 0;
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
  main {
    height: 80vh;
    margin-left: 35px;
  }
}
