@import "../utils/constants.scss";

:root {
  background-color: $off-white;
  background-image: url("../public/gold-confetti.png");
}

h2 {
  color: $dark-green;
  font-family: "Dancing script";
  font-size: 1.6rem;
}
