.welcome-nav {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 0;

  .login-btn {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    margin: 10px;

    transition: ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      background: grey;
    }
  }

  .register-link {
    text-decoration: none;
  }
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;

  .overview-wrapper {
    .overview-list {
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 20px;
      list-style-type: none;

      .list-card {
        background-color: grey;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px;

        justify-content: center;
      }

      .feature-card {
        background-color: rgb(162, 162, 162);
        text-align: center;
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .welcome-container {
    width: 780px;
    text-align: center;
    align-items: center;
    .overview-wrapper {
      .overview-list {
        overflow-x: auto;

        .list-card {
          width: 100px;
          height: 100px;
        }

        .feature-card {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
