@import "globals.scss";
@import "../utils/constants.scss";

.welcome-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;

  .profile-icon {
    margin: 10px;
    cursor: pointer;
  }

  .login-btn {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    margin: 10px;

    transition: ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      background: grey;
    }
  }

  .register-link {
    text-decoration: none;
    color: $dark-green;
    font-family: "Alegreya";
    font-size: 1.3rem;
  }
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  background-image: url("../public/gold-confetti.png");

  .welcome-header {
    font-size: 3rem;
    font-family: "Alegreya";
    color: $dark-green;
  }

  .welcome-text {
    font-family: "Alegreya";
    font-size: 1.3rem;
    margin-bottom: 50px;

    // background-color: $olive-green;
    // color: $cream;
  }

  .overview-wrapper {
    .sub-header {
      font-size: 2rem;
      font-family: "Dancing script";
      color: $dark-green;
    }

    .overview-list {
      overflow-x: scroll;
      scroll-behavior: smooth;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 20px;
      list-style-type: none;
      background-color: $white;
      border-radius: 15px;

      transition: transform 0.5s ease;

      &:hover {
        transform: translateX(-20px);
      }

      .list-card {
        background-color: $tan;
        color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-size: 1.2rem;
        transition: transform 0.5s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .feature-card {
        background-color: $tan;
        text-align: center;
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
      }
    }
  }

  .how-to-use {
    // background-color: $white;
    border-radius: 20px;
  }
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .welcome-container {
    width: 780px;
    text-align: center;
    align-items: center;
    padding: 0;
    .overview-wrapper {
      .overview-list {
        overflow-x: auto;

        .list-card {
          width: 100px;
          height: 100px;
        }

        .feature-card {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
