@import "../../globals.scss";
@import "../../utils/constants.scss";

.event-overview-header {
  text-align: center;
}

.event-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  .create-event {
    height: 45px;
    width: 150px;
    padding: 5px;

    .create-event-btn {
      width: 100%;
      height: 100%;
      background-color: $cream;
      border-radius: 15px;
      border-color: $olive-green;
      font-family: "Alegreya";
      font-size: 1.2rem;
      transition: ease-in-out 0.35s;
      cursor: pointer;

      &:hover {
        background-color: $olive-green;
        color: $cream;
      }
    }
  }

  .event-wrapper {
    width: 100%;

    .events-container {
      background-color: $cream;
      border-radius: 15px;
      padding: 10px;

      .events {
        padding: 0;
        max-height: 300px;
        overflow-y: scroll;
        background-color: $white;

        .event {
          font-size: 1.2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          height: 45px;
          list-style: none;
          margin: 0;
          border-bottom: 1px dotted $grey;
          font-family: "Alegreya";
          font-size: 1.1rem;
          color: $black;

          .event-link {
            text-decoration: none;
            color: $black;

            &:hover {
              color: $rusty-orange;
              font-weight: bold;
            }
          }

          .edit-delete-icons {
            display: flex;
            flex-direction: row;
            float: right;

            .edit-icon,
            .trash-icon {
              width: 30px;
              transition: ease-in-out 0.3s;
              cursor: pointer;

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .event-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;

    .events-container {
      width: 40%;
      max-width: 500px;
    }
  }
}
