@import "../../../../globals.scss";
@import "../../../../../utils/constants.scss";
@import "../../../../../utils/keyframes.scss";

.choose-template-container {
  padding: 0 20px;
  text-align: center;

  .choose-template-header {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .choose-template-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: swingIn 0.5s ease-in-out forwards;

    .template-options {
      height: 40px;
      width: 200px;
      margin: 10px;
      border-radius: 15px;
      padding: 10px;
      font-size: 1.1rem;
      // max-height: 0;
      transition: max-height 0.5s ease-out;
      cursor: pointer;

      &:focus {
        outline: none;
        color: $dark-green;
      }

      .template-option {
        font-size: 1.1rem;
      }
    }

    .preview-template {
      outline: 2px solid black;
      width: 100%;
      height: 500px;
      margin: 20px 0;
    }

    .template-btn {
      margin: 15px 0;
      height: 40px;
      border-radius: 15px;
      width: 50%;
      background-color: transparent;
      border-color: $olive-green;
      font-size: 1.2rem;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        background: $olive-green;
        color: $off-white;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .choose-template-container {
    .choose-template-header {
      .choose-template-br {
        display: none;
      }
    }

    .choose-template-form {
      .preview-template {
        max-width: 400px;
        background-color: $white;
        border-radius: 15px;
      }

      .template-btn {
        background-color: $white;
        max-width: 200px;
      }
    }
  }
}
