@import "../../../globals.scss";
@import "../../../utils/constants.scss";

.welcome-bg {
  background-color: #27264b;
  background-image: url("../../../../public/templateGeoDesign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%;

    .welcome-header {
      font-size: 2.3rem;
      color: white;
      text-align: center;
    }

    .sub-header {
      color: $white;
      font-family: "Alegreya";
      font-size: 1.2rem;
    }

    .invitation-welcome-text {
      color: $white;
      font-family: "Dancing script";
      font-size: 1.5rem;
    }
  }

  .invitation-guests {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: "Dancing script";
    font-size: 2rem;
    margin: 15px 0;

    .invitation-span {
      display: block;
      margin-top: 10px;

      .invitation-guestname,
      .additional-guest-prefix,
      .additional-guestname {
        margin: 0;
        text-align: center;
      }
    }
  }

  .next-return-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;

    .invitation-next-btn {
      margin: 20px;
      background-color: transparent;
      border: none;
      transition: ease-in-out 0.3s;
      transform: rotate(180deg);
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (min-height: 667px) and (min-height: 830px) {
  .template-bg {
    .template-container {
      width: 65%;
      height: 600px;
      margin-top: 50%;
    }
  }
}

@media screen and (max-width: 360px) {
  .template-bg {
    .template-container {
      margin-top: 45%;

      .template-text-container {
        height: 49vh;
      }
    }
  }
}
