@import "../../constants.scss";
@import "../../keyframes.scss";

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;

  &.open {
    background-color: $alert-box-background-grey;
    width: 100%;
    height: 100%;
  }

  &.close {
    height: 0;
  }

  .menu-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    padding: 10px;
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    position: relative;
    background-color: $off-white;
    width: 60%;

    &.close {
      width: 200px;
      left: -200px;

      &.glide-out {
        animation: glideOut 0.5s ease-in-out forwards;

        .menu-bottom-container {
          display: flex;
          justify-content: space-evenly;

          .menu-bottom {
            border: none;
            border-radius: 50%;
            background-color: transparent;
          }
        }
      }
    }

    &.open {
      animation: glideIn 0.5s ease-in-out forwards;

      &.glide-out {
        .menu-bottom-container {
          display: flex;
          justify-content: space-evenly;

          .menu-bottom {
            border: none;
            border-radius: 50%;
            background-color: transparent;
            padding: 10px;
            width: 70px;
            color: $grey;

            transition: background-color 0.3s ease;
            cursor: pointer;

            &:hover {
              background-color: $grey;
              color: $white;
            }
          }
        }
      }
    }

    .menu-opt-link {
      text-decoration: none;

      .menu-opt {
        background-color: $off-white;
        padding: 10px;
        color: $grey;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: $grey;
          color: $white;
        }

        .menu-opt-icon {
          margin-left: 7px;
        }
      }

      .menu-hr {
        margin: 0;
      }

      .menu-bottom-container {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;

        .menu-bottom {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 65px;
          padding: 10px;
          border: none;
          border-radius: 50%;
          background-color: transparent;
          transition: ease-in-out 0.3s;
          cursor: pointer;

          &:hover {
            background-color: $grey;
            color: $white;

            border-radius: 50%;
          }

          .menu-link {
            text-decoration: none;
            color: $grey;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .menu {
    background-color: $menu-desktop-background;
    height: 100%;
    width: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    transition: ease-in-out 0.5s;

    &.open {
      width: 300px;
      background-color: $grey;
      animation: glideInDesktop 0.5s ease-in-out forwards;

      .menu-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .menu-items {
        &.open {
          &.glide-out {
            width: 100%;
            background-color: transparent;
            color: $white;

            .menu-opt-link {
              .menu-opt {
                background-color: transparent;
                color: $white;
                transition: ease-in 0.3s;

                &:hover {
                  background-color: $white;
                  color: $grey;
                }
              }
            }

            .menu-bottom-container {
              .menu-bottom {
                color: $white;
                transition: ease-in 0.3s;

                &:hover {
                  background-color: $white;
                  color: $grey;
                }
              }
            }
          }
        }
      }
    }

    &.close {
      height: 100%;
      .menu-btn {
        width: 100%;
        display: flex;

        .menu-icons-desktop {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .menu-desktop-icon {
            margin: 20px 0;
            transition: ease-in-out 0.3s;

            &:hover {
              transform: scale(1.3);
            }
          }

          .menu-desktop-hr {
            width: 100%;
          }
        }
      }

      &.glide-out {
        animation: glideOutDesktop 0.5s ease-in-out forwards;

        .menu-items {
          display: none;
        }
      }
    }
  }
}
