@import "../../../globals.scss";
@import "../../../utils/constants.scss";

.template-bg {
  background-color: $blue-purple;
  background-image: url("../../../../public/geometricDesignMobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .template-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%;

    .gemetric-desktop,
    .invitation-envelope {
      display: none;
    }

    .template-wrapper {
      .template-header {
        font-size: 2.5rem;
        color: $white;
        text-align: center;
      }
    }

    .rsvp-form {
      width: 100%;
      height: 360px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-container {
        color: $white;
        font-size: 1.1rem;
        font-family: "Alegreya";
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        overflow-y: scroll;
        overflow-x: unset;
        scroll-behavior: smooth;
        margin-bottom: 15px;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: $dark-purple;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $purple;
          border-radius: 5px;
          border: 3px solid $purple;
        }

        .guest-name,
        .rsvp-attending {
          border-bottom: 1px solid $cream;
          width: 100%;
          margin: 5px 0;
        }

        .rsvp-radio-input[type="radio"] {
          margin: 0 5px;
          appearance: none;
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid $grey;
          margin-right: 5px;
          cursor: pointer;

          &:checked {
            background-color: $tan;
          }
        }

        .checkbox-option {
          font-family: "Alegreya";
        }

        .rsvp-label {
          margin-top: 10px;
          font-family: "Alegreya";
        }

        .rsvp-input {
          border: 1px solid transparent;
          border-bottom: 1px solid $cream;
          background-color: transparent;
          font-size: 1.1rem;
          font-family: "Alegreya";
          margin-bottom: 10px;
          padding-left: 5px;
          color: $white;
          width: calc(100% - 10px);
        }

        .rsvp-diet {
          width: 100%;
          border-bottom: 1px solid $cream;
          padding-bottom: 10px;
        }
      }

      .additional-guest {
        color: $light-blue;

        .rsvp-label {
          margin-top: 15px;
          padding-top: 15px;
        }
      }

      .send-return-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        position: absolute;
        bottom: -55px;
        left: 0;
      }

      .invitation-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }

        .invitation-navigation-arrow-left {
          transform: rotate(180deg);
          margin-bottom: 5px;
        }
      }

      .rsvp-submit-btn {
        height: 45px;
        width: 70px;
        border-radius: 15px;
        background-color: transparent;
        border-color: $white;
        color: $white;
        font-family: "Alegreya";
        font-size: 1rem;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          background-color: $white;
          color: $blue-purple;
        }
      }
    }
  }
}

//Long screens
@media screen and (min-height: 667px) and (min-height: 830px) {
  .template-bg {
    .template-container {
      width: 65%;
      height: 633px;
      margin-top: 50%;

      .rsvp-form {
        margin-top: 20px;
        width: 100%;

        .form-container {
          font-size: 1.3rem;
        }
      }
    }
  }
}

// Smaller phones
@media screen and (max-width: 360px) {
  .template-bg {
    .template-container {
      margin-top: 50%;

      .template-text-container {
        height: 49vh;
      }
    }
  }
}

// Desktop
@media screen and (min-width: 800px) {
  .template-bg {
    background-image: none;
    background-color: transparent;
    min-height: unset;
    padding-top: 15%;

    .template-container {
      width: 50%;
      padding: 0;
      margin-top: 0;

      .gemetric-desktop {
        border-radius: 15px;
        display: block;
        background-color: $blue-purple;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 10;
      }

      .invitation-envelope {
        display: flex;
        position: absolute;
        margin-right: 20%;
        margin-bottom: 20%;
      }

      .template-wrapper {
        position: absolute;
        margin-top: 20px;
        width: 500px;
        height: 300px;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 11;

        .template-header {
          margin: 10px;
          height: 35px;
        }

        .rsvp-form {
          height: unset;

          .form-container {
            max-height: 220px;
            width: 95%;
          }
        }
      }
    }
  }
}
