@import "../../../globals.scss";
@import "../../../utils/constants.scss";

.invitation-main {
  background-color: $blue-purple;
  background-image: url("../../../../public/geometricDesignMobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .invitation-main-container {
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34%;

    .gemetric-desktop,
    .invitation-envelope {
      display: none;
    }

    .invitation-main-wrapper {
      .invitation-main-header {
        font-size: 2.3rem;
        color: white;
        text-align: center;
        height: 100px;
      }

      .main-text-container {
        font-size: 1rem;
        text-align: center;
        color: white;
        width: 100%;
        height: 48vh;
      }
    }

    .next-return-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;

      .invitation-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        transition: ease-in-out 0.3s;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }

        .invitation-navigation-arrow-left {
          transform: rotate(180deg);
          margin-bottom: 5px;
        }
      }
    }
  }
}

//Long screens
@media screen and (min-height: 667px) and (min-height: 830px) {
  .invitation-main {
    .invitation-main-container {
      .invitation-main-wrapper {
        .invitation-main-header {
          margin-top: 25%;
          font-size: 2.3rem;
          // outline: 2px solid blue;
        }
      }
    }
  }
}

//Smaller phones
@media screen and (max-width: 360px) {
  .invitation-main {
    .invitation-main-container {
      margin-top: 40%;

      .main-text-container {
        height: 49vh;
        // outline: 2px solid green;
      }
    }
  }
}

// Desktop
@media screen and (min-width: 800px) {
  .invitation-main {
    background-image: none;
    background-color: transparent;
    min-height: unset;
    padding-top: 10%;

    .invitation-main-container {
      width: 50%;
      padding: 0;
      margin-top: 0;

      .gemetric-desktop {
        border-radius: 15px;
        display: block;
        background-color: $blue-purple;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 10;
      }

      .invitation-envelope {
        display: flex;
        position: absolute;
        margin-right: 20%;
        margin-bottom: 20%;
      }

      .invitation-main-wrapper {
        position: absolute;
        margin-top: 20px;
        width: 500px;
        height: 300px;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 11;

        .invitation-main-header {
          margin: 10px;
          height: 35px;
        }

        .main-text-container {
          height: 230px;
          padding: 10px;
          width: unset;

          .invitation-main-text {
            margin: 0;
          }
        }
      }
    }
  }
}
