@import "../../../globals.scss";
@import "../../constants.scss";
@import "../../keyframes.scss";

.login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;

  .login-register-wrapper {
    background-color: $white;
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px;
    width: 100%;

    .login-register-text {
      font-family: "Alegreya";
      font-size: 1.3rem;
    }

    .login-register-form {
      .login-register-fieldset {
        border-radius: 15px;

        .login-register-legend {
          font-family: "Alegreya";
          font-size: 1.3rem;
        }

        .input-container {
          margin: 10px 0 0;

          .login-register-label {
            font-family: "Alegreya";
            font-size: 1.2rem;
          }

          .login-register-inputfield {
            border: none;
            border-bottom: 1px solid $grey;
            width: 100%;
            height: 30px;
          }

          .svg-eye {
            position: relative;
            left: 90%;
            bottom: 25px;
            cursor: pointer;
          }
        }

        .password-terms {
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .terms-checkbox {
            height: 25px;
            width: 25px;
            margin: 0 5px;
          }

          .terms-conditions {
            margin-right: 5px;
            font-family: "Alegreya";
          }

          .forgot-password {
            text-decoration: none;
            color: $green;
            font-family: "Alegreya";
            font-size: 1.1rem;
            cursor: pointer;
          }
        }
      }

      .btns-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login-register-btn,
        .cancel-login-register-btn {
          margin-top: 10px;
          height: 45px;
          border-radius: 15px;
          width: 50%;
          background-color: transparent;
          font-size: 1.2rem;
          transition: ease-in-out 0.3s;
          cursor: pointer;
        }

        .login-register-btn {
          border-color: $olive-green;
        }

        .cancel-login-register-btn {
          border-color: $rusty-orange;
        }

        .login-register-btn:hover {
          background: $olive-green;
          color: $off-white;
        }

        .cancel-login-register-btn:hover {
          background: $rusty-orange;
          color: $off-white;
        }
      }
    }
  }
}

@media screen and (min-width: 790px) {
  .login-register-container {
    .login-register-wrapper {
      width: 400px;
    }
  }
}
