@import "../../constants.scss";

.register-link {
  text-decoration: none;
  font-family: "Alegreya";
  font-size: 1.3rem;
  font-weight: bold;
  color: $tan;
}

.profile-icon {
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.login-btn {
  height: 35px;
  width: 100px;
  border-radius: 15px;
  margin: 10px;
  font-size: 1.3rem;
  font-family: "Alegreya";
  background-color: transparent;
  transition: ease-in-out 0.3s;
  cursor: pointer;

  &:hover {
    background: $olive-green;
    color: $off-white;
  }
}
