@import "../../constants.scss";

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 11vh;

  .logo-link {
    text-decoration: none;
    cursor: pointer;

    .rendezEviteLogo {
      text-align: center;
      width: 120px;
    }
  }
}
