@import "../../../globals.scss";
@import "../../../utils/constants.scss";

.template-bg {
  background-color: #27264b;
  background-image: url("../../../../public/templateGeoDesign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  .template-header {
    font-size: 2rem;
    color: white;
    margin-top: 60%;
    max-width: 300px;
    text-align: center;
  }

  .template-text-container {
    width: 100%;
    padding: 0 80px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    color: white;
    height: 400px;

    .rsvp-form {
      height: 100%;
      width: 100%;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: left;

      .rsvp-wrapper {
        width: 100%;
      }

      .rsvp-input {
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        color: white;
        font-size: 1rem;

        &:focus {
          outline: goldenrod;
        }
      }

      .rsvp-btn {
        width: 120px;
        height: 36px;
        border-radius: 15px;
        border-color: rgb(233, 196, 105);
        background-color: transparent;
        color: white;

        &:hover {
          background-color: rgb(233, 196, 105);
          color: black;
        }
      }
    }
  }

  .next-return-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    .submit-event-btn {
      margin: 15px 0;
      height: 40px;
      border-radius: 15px;
      width: 40%;
      background-color: transparent;
      border-color: $olive-green;
      font-size: 1.2rem;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        background: $olive-green;
        color: $off-white;
      }
    }
  }
}

@media screen and (max-height: 667px) {
  .template-bg {
    .template-header {
      margin-top: 45%;
      max-width: 200px;
    }

    .template-text-container {
      max-height: 300px;
    }
  }
}

@media screen and (max-width: 360px) {
  .template-bg {
    .template-header {
      max-width: 200px;
    }

    .template-text-container {
      max-height: 320px;
    }
    .next-return-wrapper {
      .submit-event-btn {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .template-bg {
    .template-text-container {
      .rsvp-form {
        font-size: 1.3rem;

        .rsvp-input {
          font-size: 1.3rem;
        }
      }
    }
    .next-return-wrapper {
      .submit-event-btn {
        width: 30%;
      }
    }
  }
}
