@import "../../../globals.scss";
@import "../../../utils/constants.scss";

.template-bg {
  background-color: #27264b;
  background-image: url("../../../../public/templateGeoDesign.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .template-container {
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;

    .template-header {
      font-size: 1.5rem;
      color: white;
      text-align: center;
    }

    .template-text-container {
      font-size: 1rem;
      text-align: center;
      color: white;
      width: 100%;
      height: 50vh;

      .rsvp-form {
        height: 100%;
        width: 100%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: left;

        .rsvp-wrapper {
          width: 100%;
        }

        .rsvp-input {
          border: none;
          border-bottom: 1px solid white;
          background-color: transparent;
          color: white;
          font-size: 1rem;

          &:focus {
            outline: goldenrod;
          }
        }

        .rsvp-btn {
          width: 120px;
          height: 36px;
          border-radius: 15px;
          border-color: rgb(233, 196, 105);
          background-color: transparent;
          color: white;

          &:hover {
            background-color: rgb(233, 196, 105);
            color: black;
          }
        }
      }
    }
  }

  .next-return-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    .invitation-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      transition: ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      .invitation-navigation-arrow-left {
        transform: rotate(180deg);
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (min-height: 667px) and (min-height: 730px) {
  .template-bg {
    .template-container {
      .template-header {
        margin-top: 25%;
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 340px) {
  .template-bg {
    .template-container {
      margin-top: 50%;

      .template-text-container {
        height: 49vh;
      }
    }
  }
}
