// Colors
$olive-green: #85915e;
$dark-green: #283618;
$cream: #fdf9ef;
$tan: #dda15e;
$rusty-orange: #bc6c25;
$off-white: #fdf7f2;
$white: #fffefb;
$grey: #7a7a7a;

//Fonts
@font-face {
  font-family: "Cedarville";
  src: url("../public/fonts/CedarvilleCursive-Regular.ttf");
}

@font-face {
  font-family: "Alegreya";
  src: url("../public/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
  //   font-weight: 400;
  //   font-style: normal;
}

@font-face {
  font-family: "Dancing script";
  src: url("../public/fonts/DancingScript-VariableFont_wght.ttf");
}
