@import "../../../../globals.scss";
@import "../../../../utils/constants.scss";
@import "../../../../utils/keyframes.scss";

.welcome-bg {
  background-color: $blue-purple;
  background-image: url("../../../../../public/geometricDesignMobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 115vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .welcome-container {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%;

    .gemetric-desktop,
    .invitation-envelope {
      display: none;
    }

    .welcome-wrapper {
      text-align: center;

      .welcome-header {
        font-size: 2.3rem;
        color: white;
        text-align: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }

      .sub-header {
        color: $white;
        font-family: "Alegreya";
        font-size: 1.2rem;
      }

      .invitation-welcome-text {
        color: $white;
        font-family: "Dancing script";
        font-size: 1.5rem;
      }
    }

    .invitation-guests {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-family: "Dancing script";
      font-size: 2rem;
      margin: 15px 0;

      .invitation-span {
        display: block;
        margin-top: 10px;

        .invitation-guestname,
        .additional-guest-prefix,
        .additional-guestname {
          margin: 0;
          text-align: center;
        }
      }
    }

    .next-return-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 15px;

      .invitation-next-btn {
        margin: 20px;
        background-color: transparent;
        border: none;
        transition: ease-in-out 0.3s;
        transform: rotate(180deg);
        cursor: pointer;

        &:hover {
          transform: scale(1.2) rotate(180deg);
        }
      }
    }
  }
}

//Long screens
@media screen and (min-height: 667px) and (min-height: 830px) {
  .welcome-bg {
    .welcome-container {
      width: 65%;
      height: 600px;
      margin-top: 50%;
    }
  }
}

//Smaller phones
@media screen and (max-width: 360px) {
  .welcome-bg {
    .welcome-container {
      margin-top: 45%;

      .template-text-container {
        height: 49vh;
      }
    }
  }
}

//Desktop
@media screen and (min-width: 800px) {
  .welcome-bg {
    background-image: none;
    background-color: transparent;
    min-height: unset;
    padding-top: 15%;

    .welcome-container {
      width: 50%;
      padding: 0;
      margin-top: 0;

      .gemetric-desktop {
        border-radius: 15px;
        display: block;
        background-color: $blue-purple;
        animation: fadeIn 1s ease-in-out forwards;
        z-index: 10;
      }

      .invitation-envelope {
        display: flex;
        position: absolute;
        margin-right: 20%;
        margin-bottom: 20%;
      }

      .welcome-wrapper {
        position: absolute;
        margin-top: 20px;
        width: 500px;
        height: 300px;
        z-index: 11;
        animation: fadeIn 1s ease-in-out forwards;

        .welcome-header {
          margin: 10px;
          height: 45px;

          .welcome-br {
            display: none;
          }
        }

        .sub-header {
          font-size: 1.5rem;
          margin: 0;
        }

        .invitation-welcome-text {
          margin: 5px 0;
          font-size: 1.8rem;
        }

        .invitation-guests {
          .invitation-span {
            display: flex;
            flex-direction: row;

            .invitation-guestname,
            .additional-guest-prefix,
            .additional-guestname {
              margin: 0 10px;
              font-size: 2.5rem;
            }
          }
        }

        .next-return-wrapper {
          .invitation-next-btn {
            margin: 16%;
          }
        }
      }
    }
  }
}
